<div class="jumbotron" >
<h1>Landing Page</h1>
<p>Rails App incoming</p>

<%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>
